<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>todo</title>
</head>
<body>
  <div class="container">
    <h1>To Do List</h1>

    <div class="todo">
      <div class="todo-form">
        <form>
          <div class="d-flex">
            <input class="todo-input todo-form-item" placeholder="your todo...">
            <button class="todo-submit todo-form-item"> <i class="fas fa-plus-circle fa-2x"></i> </button>
          </div>
          
        </form>

        <div class="options">
          <div class="select-container" data-after=''>
            <select>
              <option value="all">all</option>
              <option value="completed">completed</option>
              <option value="uncompleted">uncompleted</option>
            </select>
          </div>
  
          <button class="todo-clear">
            Clear All
          </button>
        </div>
      </div>

      <div class="todo-content">
        <ul>
          <!-- <li class="todo-item">
            <span class="li-text">temp</span> 
            <span class="icons">
              <span class="check">
                <i class="far fa-square fa-lg"></i>
                <i class="far fa-check-square fa-lg"></i>
              </span>

              <span class="edit">
                <i class="far fa-edit fa-lg"></i>
              </span>
              
              <span class="trash">
                <i class="far fa-trash-alt fa-lg"></i>
              </span>
            </span>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</body>
</html>